<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Bookstore</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/book_store.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bookstore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand bookstore_title" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="nav_items" id="nav-login" onclick="document.getElementById('login').style.display='block'">Login</a></li>
                    <li><a class="nav_items" id="nav-signup" onclick="document.getElementById('signup').style.display='block'">Sign up</a></li>
                    <li><a class="nav_items" id="nav-cart" onclick="document.getElementById('cart').style.display='block'">Shopping cart</a></li>
                    <li><a class="nav_items" id="nav-order" onclick="document.getElementById('order').style.display='block'">Order Detail</a></li>
                    <li><a class="nav_items" id="nav-order" style="display:none">Log out</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Bookstore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/book_store.js")
</body>
</html>
